/*Rezolucija 1*/
@media screen and (max-width: 1686px){
    #aboutme #about{
        width: 70%;
    }
}
/*Rezolucija 2*/
@media screen and (max-width: 1680px){
    #six{
        width: 50%;
    }
    #projects{
        flex-direction: column;
    }
    #myprojects #projects .names2{
        width: 700px;
    }
    #myskills #six{
        width: 90%;
    }
}
/*Rezolucija 3*/
@media screen and (max-width: 1490px){
    #myskills #six{
        width: 100%;
    }
}
/*Rezolucija 4*/
@media screen and (max-width: 1448px){
    #aboutme #about #ana{
        margin: 30px 0px;
    }
    #aboutme #about #second #a{
        margin-left: 0px;
    }
}
/*Rezolucija 5*/
@media screen and (max-width: 1339px){
    #myskills #six{
        width: 65%;
    }
}
/*Rezolucija 6*/
@media screen and (max-width: 1320px){
    #services #three .s{
        flex-direction: column;
        margin-bottom: 50px;
        width: 630px;
    }
    #services #three .s .text1{
        font-size: 20px;
    }
    #myskills #six{
        width: 60%;
    }
    #aboutme #about #ana{
        margin: 20px 0px;
    }
}
/*Rezolucija 7*/
@media screen and (max-width: 1135px){
    #myskills #six{
    width: 70%;
    }
}
/*Rezolucija 8*/
@media screen and (max-width: 1110px){
    #myskills #six{
        width: 80%;
    }
    #aboutme #about #second{
        width: 80%;
    }
    #myprojects #projects .names2{
        width: 80%;
    }
}
/*Rezolucija 9*/
@media screen and (max-width: 685px){
    #services #three .s{
        width: 70%;
    }
    #contact #inputs{
        width: 70%;
    }
    #aboutme #about #second{
        width: 90%;
    }
    #links{
        flex-direction: column;
    }
    #myprojects #projects .names2 .text2{
        font-size: 16px;
    }
}
/*Rezolucija 10*/
@media screen and (max-width: 570px){
    #aboutme #about #ana{
        width: 300px;
    }
}
/*Rezolucija 11*/
@media screen and (max-width: 470px){
    #services #three .s{
        width: 70%;
    }
    #myskills #six{
        width: 70%;
    }
    #aboutme #about #second #a{
        width: 100%;
        font-size: 18px;
    }
    #links{
        flex-direction: column;
    }
}
/*Rezolucija 12*/
@media screen and (max-width: 375px){
    #services #three .s .text1{
        font-size: 15px;
    }
    #myskills #six{
        width: 90%;
    }
    #myprojects #projects .names2 .text2{
        font-size: 14px;
    }
    #aboutme #about #ana{
        width: 220px;
    }
    #aboutme #about #second #a{
        font-size: 15px;
    }
    #contact #inputs #buttons button{
        margin-bottom: 5px;
    }
    #links .last .con{
        font-size: 15px;
    }
}
